<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Cinema Seat Booking</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link th:href="@{/css/style.css}" rel="stylesheet" type="text/css"/>
<script th:src="@{js/jquery-1.4.2.min.js}" type="text/javascript"></script>
<script th:src="@{js/cufon-yui.js}" type="text/javascript"></script>
<script th:src="@{js/cufon-replace.js}" type="text/javascript"></script>
<script th:src="@{js/Gill_Sans_400.font.js}" type="text/javascript"></script>
<script th:src="@{js/script.js}" type="text/javascript"></script>
<script>
  async function loadRooms() {
    try {
      const response = await fetch('/api/rooms');
      const rooms = await response.json();
      const contentDiv = document.querySelector('.content');

      const roomList = document.createElement('ul');
      roomList.className = 'list';

      rooms.forEach(room => {
        const li = document.createElement('li');
        li.innerHTML = `
          <h4>Room: ${room.name}</h4>
          <p>Room ID: ${room.id}</p>
        `;
        roomList.appendChild(li);
      });

      contentDiv.innerHTML = '<h3>Available <span>Rooms</span></h3>';
      contentDiv.appendChild(roomList);
    } catch (error) {
      console.error('Error loading rooms:', error);
    }
  }

  document.addEventListener('DOMContentLoaded', loadRooms);
</script>

<!--[if lt IE 7]>
<script type="text/javascript" src="js/ie_png.js"></script>
<script type="text/javascript">ie_png.fix('.png, .link1 span, .link1');</script>
<link href="css/ie6.css" rel="stylesheet" type="text/css" />
<![endif]-->
</head>
<body id="page3">
<!-- START PAGE SOURCE -->
<div class="tail-top">
  <div class="tail-bottom">
    <div id="main">
      <div id="header">
        <div class="row-1">
          <div class="fleft"><a href="#">Cinema Seat <span>Booking</span></a></div>
          <ul>
            <li><a href="#"><img src="images/icon1.gif" alt="" /></a></li>
            <li><a href="#"><img src="images/icon2.gif" alt="" /></a></li>
            <li><a href="#"><img src="images/icon3.gif" alt="" /></a></li>
          </ul>
        </div>
        <div class="row-2">
          <ul>
            <li><a th:href="@{/home}">Home</a></li>
            <li><a th:href="@{/about}">About</a></li>
            <li><a th:href="@{/articles}">Articles</a></li>
            <li><a th:href="@{/contact}">Contacts</a></li>
            <li class="last"><a th:href="@{/rooms}" class="active">Rooms</a></li>
          </ul>
        </div>
      </div>
      <div id="content">
        <div class="line-hor"></div>
        <div class="box">
          <div class="border-right">
            <div class="border-left">
              <div class="inner">
                <h3>Our <span>Rooms</span></h3>
                <p>Our cinemas have numerous rooms, each with 20 luxury seats. These are divided into 2 groups of 10 seats, separated by an illuminated staircase corridor. The rooms are equipped with the latest technology, including 4K projectors and Dolby Atmos sound systems. The seats are designed for maximum comfort, with reclining features and ample legroom.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="content">
          <h3>Recent <span>Articles</span></h3>
          <ul class="list" th:each="room : ${rooms}">
            <li>
              <h4 th:text="${room.name}">Room Name</h4>
              <p>ID: <span th:text="${room.id}">1</span></p>
            </li>
          </ul>
        </div>
      </div>
      <div id="footer">
        <div class="left">
          <div class="right">
            <div class="footerlink">
              <p class="lf">Copyright &copy; 2010 <a href="#">SiteName</a> - All Rights Reserved</p>
              <p class="rf">Design by <a href="http://www.templatemonster.com/">TemplateMonster</a></p>
              <div style="clear:both;"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript"> Cufon.now(); </script>
<!-- END PAGE SOURCE -->
</body>
</html>